
.idiomas {
    width: 100%;
    font-size: x-small;
    text-align: right;
    padding: 10px 15px 0 0;
    color: #353535;
}

.idiomas a {
    padding: 10px;
    color: #353535;
    text-decoration: none;
}

.idiomas  a:hover {
    text-decoration: none;
    color:orange;
}

.navegacion {
    width: 100%;
    margin:0px auto; 
    background:rgb(255, 255, 255);
    text-align: center;
}

.navegacion ul {
    list-style: none;
}

.menu > li {
    position: relative;
    display: inline-block;
}

.menu > li > a {
    display: block;
    padding: 15px 20px;
    color: #353535;
    text-decoration: none;
}

.menu > li > a:hover {
    color: orange;
    transition: all .3s;
    opacity: 1;
}

.menu img {
    width: 125px;
    height: 125px;
}


/* Submenu */
.submenu {
    position: absolute;
    background: #666565;
    width: 130%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
}

.submenu li a {
    display: block;
    padding: 15px;
    color: white;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.submenu a:hover {
    color:orange;
}



