@import url('https://fonts.googleapis.com/css2?family=Bona+Nova&family=Montserrat&display=swap');

/* GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
	text-decoration: none;
}

body {
	background: #fff;
}

/* HEADER */

/* CHANGE LANGUAGE */

.languages {
	width: 100%;
	font-size: x-small;
	text-align: right;
	padding: 10px 15px 0 0;
	color: #353535;
}

.languages a {
	padding: 10px;
	color: #353535;
}

.languages a:hover {
	color: #f7ac06;
}

/* NAVBAR */
@-webkit-keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.imgLogo {
	width: 170px;
	cursor: pointer;
	position: relative;
	bottom: 60px;
}

.nav-links {
	position: relative;
	top: 80px;
}

nav {
	width: 100%;
	display: inline-block;
	margin: 20px 30% 200px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul a {
	display: block;
	padding: 30px;
	transition: color 0.3s ease 0s;
	color: #353535;
	font-size: 25px;
}

nav li a:hover {
	color: #f7ac06;
}

nav ul li {
	float: left;
	margin: 0;
	padding: 0;
}

nav ul ul {
	display: none;
	position: absolute;
	margin-top: 0;
}

nav ul ul li {
	float: none;
	margin-left: 19px;
}

.galeria > a {
	padding-bottom: 5px !important;
}

nav ul ul a {
	display: block;
	padding: 10px;
}

nav ul li:hover > ul {
	display: block;
	-webkit-animation: fadeIn 1s;
	animation: fadeIn 0.3s;
}

/* WELCOME */
.welcome {
	margin: auto 10%;
}

.paco-welcome {
	float: left;
	margin-left: 10%;
	width: 700px;
	box-shadow: 0 0 10px #666565;
}

.card-welcome {
	float: right;
	margin-right: 17%;
	margin-top: 30px;
	height: 500px;
	width: 650px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #e9edf6;
	position: relative;
}

.card-welcome h1 {
	text-align: center;
	font-size: 45px;
	font-family: Bona Nova;
	letter-spacing: 0.03em;
	color: #373737;
}

.frame-welcome {
	height: 500px;
	width: 650px;
	position: absolute;
	top: 20px;
	left: 20px;
	border: #353535 solid 1px;
}

.float-clear {
	clear: both;
}

/* ABOUT ME */
.about-me {
	margin: 15rem 30% 10rem 30%;
}

.about-title h1,
.about-title h3 {
	font-family: Bona Nova;
	text-align: center;
	font-weight: normal;
	letter-spacing: 0.03em;
}

.about-title h1 {
	font-size: 40px;
}

.about-title h3 {
	font-size: 25px;
}

.about-content {
	margin-top: 40px;
	display: flex;
	gap: 2.5rem;
	justify-content: center;
}

.about-content p {
	font-size: 20px;
	width: 300px;
	line-height: 28px;
}

/* BANNER */
.banner {
	width: 100%;
	margin-top: 0;
	margin-bottom: 200px;
}

/* RECENT WORK */
.recent-work {
	margin-bottom: 30%;
}

.card-recent {
	float: left;
	margin-left: 18%;
	margin-top: 30px;
	height: 500px;
	width: 650px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f4e9;
	position: relative;
}

.card-recent h1 {
	text-align: center;
	font-size: 45px;
	font-family: Bona Nova;
	letter-spacing: 0.03em;
	color: #373737;
}

.frame-recent {
	height: 500px;
	width: 650px;
	position: absolute;
	top: 20px;
	left: 20px;
	border: #353535 solid 1px;
}

.recent-work-img {
	float: right;
	width: 10px;
	margin-right: 42%;
	box-shadow: 0 0 10px #666565;
}

/* CATEGORIES */
#categories {
	position: relative;
	margin-top: 200px;
	margin-bottom: 200px;
	display: flex;
	gap: 15rem;
	justify-content: center;
}

.category-item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card-category {
	border-radius: 150%;
	float: right;
	width: 280px;
	height: 280px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	margin-bottom: 50px;
}

#card-lettering .card-category {
	background-color: #1e2e3b;
}

#card-lettering .card-category h1 {
	color: #fcfdff;
}

#card-oleos .card-category {
	background-color: #f8f4e9;
}

#card-digital .card-category {
	background-color: #e9edf6;
}

.card-category h1 {
	font-size: 45px;
	text-align: center;
}

.category-item p {
	margin-top: 20px;
	width: 280px;
	text-align: center;
	font-size: larger;
	font-weight: 580;
}

.category-item button {
	background-color: #fff;
	color: #373737;
	font-weight: 900;
	font-size: 18px;
	padding: 15px 30px;
	margin-top: 50px;
	cursor: pointer;
}

/* BLOG */

.section-blog {
	width: 70%;
	height: auto;
	margin-left: 30%;
}

.article-blog {
	width: 90%;
	height: 320px;
	border: 1px dashed #fbc56e;
	border-radius: 20px;
	margin: 20px;
	overflow: hidden;
}

.article-photo {
	position: absolute;
	width: 30%;
}

.article-text {
	position: relative;
	left: 350px;
	width: 70%;
	
}

.img-blog {
	width: 350px;
	height: 320px;
	border-radius: 20px 0 0 20px;
	padding: 10px 0 10px 10px;
}

.blog-date {
	padding: 20px;
}

.blog-title {
	font-size: 20px;
	font-weight: bolder;
	text-align: center;
}

.blog-resume {
	font-style: italic;
	font-size: 20px;
}

/* GALLERY */

.img-Gallery {
	width: 230px;
	height: 290px;
	border-radius: 5px;
	transition: all 0.8s ease;
}

.img-Gallery-sketch {
	width: 310px;
	height: 250px;
	border-radius: 5px;
	transition: all 0.8s ease;
}

.img-Gallery-Letteringw3 {
	width: 631px;
	height: 400px;
	border-radius: 5px;
	transition: all 0.8s ease;
}

.img-Galleryh1 {
	width: 310px;
	height: 400px;
	border-radius: 5px;
	transition: all 0.8s ease;
}

.img-Gallery:hover,
.img-Gallery-Letteringw3:hover,
.img-Galleryh1:hover,
.img-Gallery-sketch:hover {
	transition: all 0.6s ease;
	filter: brightness(70%);
}

.div-Gallery {
	margin: 0 auto;
	width: 810px
}

.cell-Gallery {
	padding: 5px;
}

.cell-Gallery-second {
	margin-top: 0;
	padding: 0 5px 5px 5px;
}

/* FORM */

.form {
	float: left;
	margin-left: 20%;
	margin-bottom: 5%;
}

.contact {
	border-spacing: 15px;
	width: auto;
}

.cellForm {
	border: none;
	border-bottom: 1px solid orange;
	height: 50px;
	width: 250px;
}

input {
	border: none;
	width: 100%;
	height: 60px;
}

input:hover,
input:focus {
	border: 1px solid orange;
	border-bottom: none;
}

textarea {
	border: none;
	width: 100%;
	height: 150px;
}

textarea:hover,
textarea:focus {
	border: 1px solid orange;
	border-bottom: none;
	width: 100%;
}

.submitbutton:hover {
	border-bottom: 1px solid orange;
}

.card-contact {
	float: right;
	margin-right: 17%;
	margin-top: 0;
	height: 500px;
	width: 650px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #f8f4e9;
	position: relative;
}

.card-contact h1 {
	text-align: center;
	font-size: 45px;
	font-family: Bona Nova;
	letter-spacing: 0.03em;
	color: #373737;
}

.frame-contact {
	height: 500px;
	width: 650px;
	position: absolute;
	top: 20px;
	left: 20px;
	border: #353535 solid 1px;
}
/* iFRAME */
.tablaiFrame {
	margin: 0 auto 10% 20%;
}

iframe {
	width: 600px;
	height: 450px;
	border-radius: 20px;
	border-color: #f7ac06;
	padding: 5px;
}

.findMe {
	width: 50%;
	padding-left: 10%;
}

.direction {
	padding-left: 20%;
	font-size: 20px;
	font-weight: bold;
}

/* BANNER */
.banner {
	width: 100%;
}

/* FOOTER */
.footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 80px;
}

.footer-bar {
	margin-bottom: 40px;
}

.copyright {
	position: absolute;
	right: 47%;
}

.socials {
	display: flex;
	justify-content: flex-end;
	gap: 4px;
	list-style: none;
	margin-top: 50px;
	margin-right: 40px;
}

.socials li a img {
	width: 23px;
}
