@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* GENERAL */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Montserrat, sans-serif;
	text-decoration: none;
}

body {
	background: #fff;
}

/* HEADER */


/* CHANGE LANGUAGE */
.languages {
	width: 100%;
	font-size: x-small;
	text-align: right;
	padding: 10px 15px 0 0;
	color: #353535;
}

.languages a {
	padding: 10px;
	color: #353535;
}

.languages a:hover {
	color: #f7ac06;
}


/* NAVBAR */
nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-item {
	padding-left: 0px !important;
}

.imgLogo {
	position: relative;
	width: 140px;
	cursor: pointer;
	top: 50px;
}

.nav-links {
	list-style: none;
}

.nav-links li {
	display: inline-block;
	padding: 0px 40px;
}

.nav-links li a {
	transition: color 0.3s ease 0s;
	color: #353535;
}

.nav-links li a:hover {
	color: #f7ac06;
}

.galeria {
	position: relative;
	top: 2.1rem;
	padding-right: 30px !important;
}

/* DROPDOWN MENU */
.dropdown {
	display: flex;
	flex-direction: column;
	background: #666565;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.3s;
}

.dropdown li {
	padding: 0;
}

.dropdown li a {
	display: inline-block;
	padding: 15px;
	color: white;
}

.nav-links li:hover .dropdown {
	visibility: visible;
	opacity: 1;
}

/* FOOTER */
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 80px;
}

.footer-bar {
	margin-bottom: 40px;
}

.copyright {
	position: absolute;
	right: 47%;
}

.socials {
	display: flex;
	justify-content: flex-end;
	gap: 4px;
	list-style: none;
	margin-top: 50px;
	margin-right: 40px;
}

.socials li a img {
	width: 23px;
}
